/* imports the font from the Google API server. */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(0, 0%, 30%)
}

#calculator{
    font-family: "Montserrat", sans-serif;
    background-color: hsl(0, 0%, 11%);
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
    box-shadow: -5px 5px 10px black;
}

#display{
    width: 90%;
    margin-right: 30px;
    font-size: 6rem;
    text-align: right;
    border: none;
    background-color: hsl(0, 0%, 11%);
    color: white;
}
#keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;
}
button{
    width: 95px;
    height: 95px;
    border-radius: 50px;
    border: none;
    background-color: hsl(0, 0%, 25%);
    color: white;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
    transition-duration: .1s;
}
button:hover{
    background-color: hsl(0, 0%, 40%);
}
button:active{
    background-color: hsl(0, 0%, 11%);
}
.operator-btn{
    background-color: hsl(35, 100%, 55%);
}
.operator-btn:hover{
    background-color: hsl(35, 100%, 65%);
}
.operator-btn:active{
    background-color: hsl(35, 100%, 75%);
}

.first-btn{
    background-color: hsl(0, 0%, 40%);
}